{% extends "Submission/base.html" %}
{% block content %}
<center>
    <h1>Electronic Election FAQ</h1>
    <br>
    <br>
</center>
    <h2>Q: Where do I cast my vote?</h2>
    <h5>A: We will send you the link to the website via email.  A mail in official ballot can be made available for those who has no capability or access to the website. A request will be made to the Membership Chair and the list  will be sent to the NOMELEC committee for a mail in ballot.</h5>
    <br>
    <br>
    <h2>Q: How do I vote?</h2>
    <h5>A: Click on the link and use the unique username and password we created for you to login to the website, view the ballot and vote</h5>
    <br>
    <br>
    <h2>Q: Can I create my own username and password?</h2>
    <h5>A: No. The Nomelec committee will create and assign a unique username and password for each voter to prevent others from creating an unauthorized account for self or others thus preventing "flying votes".</h5>
    <br>
    <br>
    <h2>Q: How do I know if my ballot was successfully submitted?</h2>
    <h5>A: You will receive an automatic confirmation message that says "This form has been successfully submitted" immediately after you click submit.</h5>
    <br>
    <br>
    <h2>Q: Is my ballot confidential?</h2>
    <h5>A: Yes. Your ballot is only accessible to the Website Administrator who will regularly monitor the website for smooth operation</h5>
    <br>
    <br>
    <h2>Q: How do I know if my vote was counted? </h2>
    <h5>A: Once you successfully submit the ballot, it will automatically be sent the website with your personal info and your vote. All votes will be validated and counted by the Nomelec committee members with the supervision of designated Inspectors to verify each ballot and votes.</h5>
    <br>
    <br>
    <h2>Q: What should I do if my username and password does not work? </h2>
    <h5>A: Make several attempts to log-in with the provided case sensitive username and password before requesting for a new one.  Please email achilles.amados@yahoo.com or text 703 475 9364 for further assistance.</h5>
    <br>
    <br>
    <h2>Q: Can anyone alter the votes or results?</h2>
    <h5>A: No. The result and outcome of this electronic voting are protected with security codes only known to the web administrator.</h5>
    <br>
    <br>
    <h2>Q: Who is the Webmaster?</h2>
    <h5>His name is Zach Amados, a 3rd Year Computer Science Major at Virginia Tech's School of Engineering. As required by his major, he has taken courses such as:</h5>
    <center>
        <h5>CS 1114: Intro to Software Design</h5>
        <h5>CS 2104: Intro to Problem Solving</h5>
        <h5>CS 2114: Software Design and Data Structures</h5>
    </center>

{% endblock content %}