{% extends "Submission/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
    <div class="content-section">

      <!-- FORM HERE -->
        <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">PNAMDC Executive Officers and Board of Directors Election</legend>
                <legend class = "border-bottom mb-4">2021-2023</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Submit</button>
            </div>
        </form>
    </div>
        </center>

{% endblock content %}
